/*
    ben montgomery
    bjm2017
    style_bjm.scss
    since october 2017
    loads after the unchanged style.css of the underscores.me theme
*/
/* SCSS VARIABLES */
/* SITE STYLES */
body {
  font-size: 14px;
  color: #555;
  background-color: #fff;
}
body #page {
  max-width: 1000px;
  margin: 0 auto;
}
@media only screen and (max-width: 600px) {
  body #page {
    width: 100%;
    min-width: 320px;
  }
}
@media only screen and (max-width: 600px) {
  body #page #content {
    padding-top: 50px;
  }
}

a, a:hover, a:focus, a:active, a:visited {
  text-decoration: none;
  color: inherit;
}

ul {
  clear: both;
  margin: 0;
  padding-left: 0;
  list-style-type: none;
}

/* HEADER */
header#masthead {
  max-width: 1000px;
  height: 100px;
}
@media only screen and (max-width: 600px) {
  header#masthead {
    position: fixed;
    z-index: 2;
    width: 100%;
    height: auto;
  }
}
header#masthead .main-navigation {
  background-color: #fff;
}
@media only screen and (max-width: 600px) {
  header#masthead .main-navigation {
    border-bottom: 1px solid #f3f3f3;
    background-color: #fafafa;
  }
}
header#masthead .main-navigation .menu-primary-container ul {
  display: flex;
  justify-content: flex-end;
  padding-right: 40px;
  margin: 0 auto;
}
@media only screen and (max-width: 600px) {
  header#masthead .main-navigation .menu-primary-container ul {
    display: flex;
    justify-content: space-around;
    max-width: 250px;
    padding-right: 0;
  }
}
header#masthead .main-navigation .menu-primary-container ul li {
  font-weight: bold;
  line-height: 100px;
  height: 100px;
  margin-left: 20px;
  text-transform: uppercase;
  color: #ccc;
}
header#masthead .main-navigation .menu-primary-container ul li.current-menu-item {
  color: #666;
}
@media only screen and (max-width: 600px) {
  header#masthead .main-navigation .menu-primary-container ul li {
    line-height: 50px;
    height: 50px;
    margin-left: 0;
    color: #666;
  }
  header#masthead .main-navigation .menu-primary-container ul li.current-menu-item {
    color: #444;
  }
}
header#masthead .main-navigation .menu-primary-container ul li a:hover {
  color: #000;
}

/* MUSIC PAGE */
body.page-id-8 .entry-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
body.page-id-8 .entry-content > a {
  display: block;
  max-width: 320px;
  margin: 20px;
  margin-bottom: 40px;
  padding-right: 30px;
  padding-left: 30px;
}
body.page-id-8 .entry-content > a:hover {
  color: #000;
}
body.page-id-8 .entry-content > a:first-child {
  opacity: .5;
}
body.page-id-8 .entry-content > a img {
  display: block;
  margin-bottom: 12px;
}

/* CONTACT PAGE */
body.page-id-22 .entry-content form {
  box-sizing: border-box;
  max-width: 700px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
}
body.page-id-22 .entry-content form input, body.page-id-22 .entry-content form textarea {
  box-sizing: border-box;
  padding: 5px;
}
@media only screen and (max-width: 600px) {
  body.page-id-22 .entry-content form input, body.page-id-22 .entry-content form textarea {
    width: 100%;
  }
}
body.page-id-22 .entry-content form input[type='submit'] {
  padding: 10px 15px;
}
body.page-id-22 .entry-content form label {
  line-height: 2.2em;
}

/* VIDEO PAGE */
body.page-id-16 .entry-content > p {
  padding: 0 15px;
}

/*# sourceMappingURL=style_bjm.css.map */
